<head>
<title>Mail From BioDashboard</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge"  charset="UTF-8" />
</head>

<body>
	<div>
		<p>亲爱的${name}同学，</p>
		<p>
			您有一份年度总结在 BioDashboard 上被定时任务创建成功， <br /> 您需要登录系统继续完善该年度总结。 <br />
			<br /> BioDashboard
			致力于让同学们的科研更高效透明，让老师的管理更轻松，让生活更美好！<br /> 欢迎在 Github 上给我们提 Bug 或者
			建议，众人拾柴火焰高！<br /> <br /> BioDashboard 登录网址：<a href='${url}'
				target='_blank'>${url}</a><br />
		</p>

		<p>
			祝好, <br /> BioDashboard 团队 敬上 <br />
		</p>

		<div>*温馨提示:请不要直接回复此邮件哦：）</div>
	</div>
</body>
</html>