<head>
<title>Mail From BioDashboard</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge"  charset="UTF-8" />
</head>

<body>
	<div>
		<p>亲爱的${name}同学，</p>
		<p>
			定时任务检查到您本周的周报还没有撰写, 请及时处理。<br /> 系统将在明日（周一）早八点半将周报的统计信息发送给负责的老师。<br />
			<br /> BioDashboard 致力于让同学们的科研更高效透明，让老师的管理更轻松，让生活更美好！<br /> 欢迎在
			Github 上给我们提 Bug 或者 建议，众人拾柴火焰高！<br /> <br /> BioDashboard 登录网址：<a
				href='${url}' target='_blank'>${url}</a><br />
		</p>

		<p>
			祝好, <br /> BioDashboard 团队 敬上 <br />
		</p>

		<div>*温馨提示:请不要直接回复此邮件哦：）</div>
	</div>
</body>
</html>



